*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
scroll-behavior:smooth;
}

body{

background: linear-gradient(-45deg,#0f172a,#1e293b,#020617,#1e293b);
background-size:400% 400%;

animation: gradientBG 10s ease infinite;

color:white;

}

@keyframes gradientBG{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 10%;

}

nav ul{

display:flex;
list-style:none;

}

nav ul li{

margin-left:25px;

}

nav a{

color:white;
text-decoration:none;
transition:0.3s;

}

nav a:hover{

color:#38bdf8;

}

.hero{

height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

}

.hero span{

color:#38bdf8;

}

.btn{

margin-top:20px;

padding:12px 30px;

background:#38bdf8;

color:black;

border-radius:30px;

text-decoration:none;

transition:0.4s;

}

.btn:hover{

transform:scale(1.1);

box-shadow:0 0 20px #38bdf8;

}

section{

padding:100px 10%;

text-align:center;

}

.about-text{

max-width:600px;
margin:auto;

line-height:1.7;

}

.skill{

max-width:500px;
margin:20px auto;

text-align:left;

}

.bar{

background:#1e293b;

height:8px;

border-radius:10px;

}

.bar span{

display:block;

height:100%;

background:#38bdf8;

border-radius:10px;

}

.project-container{

display:flex;
justify-content:center;

gap:30px;

flex-wrap:wrap;

margin-top:40px;

}

.card{

background:rgba(255,255,255,0.08);

backdrop-filter:blur(10px);

padding:30px;

border-radius:12px;

width:250px;

transition:0.4s;

}

.card:hover{

transform:translateY(-15px) scale(1.05);

background:rgba(255,255,255,0.15);

box-shadow:0 0 20px #38bdf8;

}